version: '3.4'
services:
  trustlines.dnp.dappnode.eth:
    image: 'trustlines.dnp.dappnode.eth:0.1.2'
    build: ./build
    ports:
      - '30302:30302'
      - '30302:30302/udp'
    volumes:
      - 'tlbc:/data'
    environment:
      - PARITY_ARGS=
    restart: unless-stopped
volumes:
  tlbc: {}
