version: "3.4"
services:
  node:
    build: ./build-node
    image: "node.trustlines.dnp.dappnode.eth:1.0.0"
    environment:
      - ROLE=observer
      - ADDRESS=
      - PASSWORD=
      - CLIENT_ARGS=
    restart: unless-stopped
    ports:
      - "30302"
      - 30302/udp
    volumes:
      - "trustlines:/data/tlbc"
      - "config:/config/custom"
      - "enode:/config/network"
      - "shared:/shared/"
  bridge:
    build: ./build-bridge
    image: "bridge.trustlines.dnp.dappnode.eth:1.0.0"
    restart: on-failure
    volumes:
      - "config:/config:ro"
  monitor:
    build: ./build-monitor
    image: "monitor.trustlines.dnp.dappnode.eth:1.0.0"
    volumes:
      - "reports:/reports"
      - "state:/state"
      - "shared:/shared"
    restart: on-failure
  netstats:
    build: ./build-netstat
    image: "netstats.trustlines.dnp.dappnode.eth:1.0.0"
    environment:
      - NETSTATS_ENABLE=no
      - WS_USER
      - WS_PASSWORD
      - INSTANCE_NAME
      - SHOW_VALIDATOR_STATUS=no
    restart: on-failure
volumes:
  trustlines: {}
  config: {}
  enode: {}
  state: {}
  shared: {}
  reports: {}
